# VCS
.git
.gitignore

# Dependencies
node_modules
**/node_modules

# Builds
/dist
**/dist
/build
**/build

# OS/editor noise
.DS_Store
Thumbs.db
.vscode

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
